<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/index.styles.css" />
		<link rel="stylesheet" href="../styles/books.styles.css" />
		<title>My Books</title>
	</head>
	<body>
		<nav>
			<div class="navbar__wrapper">
				<div class="navbar-container">
					<a href="index.html">Home</a>
					<a href="emoji.html">Emoji</a>
					<a href="gallery.html">Gallery</a>
					<a href="index.html#contact">Contact</a>
					<a href="todo.html">Todo App</a>
					<a href="books.html">Books</a>
				</div>
				<div class="navbar__auth">
					<button><a href="signup.html">Signup</a></button>
					<button><a href="login.html">Login</a></button>
				</div>
			</div>
		</nav>

		<div class="books__wrapper">
			<h1>My <span>Books</span></h1>
			<div class="books__container">
				<div class="book__container">
					<div class="book__img-container">
						<img src="..//images/crowdfunding-app.jpg" alt="" />
					</div>
					<div class="book__info">
						<p>become front end developer</p>
						<div>
							<p>Php 9999</p>
							<button class="buy-btn buy-now-btn">Buy now</button>
						</div>
					</div>
				</div>
				<div class="book__container">
					<div class="book__img-container">
						<img src="..//images/kaela.png" alt="" />
					</div>
					<div class="book__info">
						<p>Become a backend developer</p>
						<div>
							<p>Php 9999</p>
							<button class="buy-btn buy-now-btn">Buy now</button>
						</div>
					</div>
				</div>
				<div class="book__container">
					<div class="book__img-container">
						<img src="..//images/kaela.png" alt="" />
					</div>
					<div class="book__info">
						<p>Become a fullstack developer</p>
						<div>
							<p>Php 9999</p>
							<button class="buy-btn buy-now-btn">Buy now</button>
						</div>
					</div>
				</div>
			</div>
			<div class="customer__details-wrapper">
				<div class="customer__details-container">
					<div class="close-container">
						<?xml version="1.0" encoding="utf-8"?>

						<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
						<svg
							width="800px"
							height="800px"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g id="Menu / Close_MD">
								<path
									id="Vector"
									d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18"
									stroke="#000000"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</g>
						</svg>
					</div>
					<form action="" id="custForm">
						<h2>Final step, make the payment</h2>
						<p>
							To finalize your subscription, kindly complete your payment using
							a valid credit card.
						</p>
						<div class="input__container">
							<div class="name-container">
								<label for="">Name</label>
								<input
									type="text"
									id="name"
									placeholder="Michael Padin"
									class="book__input"
								/>
								<span id="name-err"></span>
							</div>
							<div class="name-container">
								<label for="">Address</label>
								<input
									type="text"
									id="address"
									placeholder="Carcar City, Cebu"
									class="book__input"
								/>
								<span id="address-err" class="error"></span>
							</div>
							<div class="name-container">
								<label for="">Email</label>
								<input
									type="email"
									id="email"
									class="book__input"
									placeholder="padinmichael201@gamil.com"
								/>
								<span id="email-err" class="error"> </span>
							</div>
							<div class="cardnum-container">
								<label for="">Card number</label>
								<input
									type="number"
									id="cardNum"
									placeholder="0123456789"
									class="book__input"
								/>
								<span id="cardnum-err" class="error"></span>
							</div>
							<div class="card-info-container">
								<div>
									<label for="">Expiry</label
									><input
										type="text"
										placeholder="1 / 12"
										class="book__input"
										id="expiry"
									/>
									<span id="expiry-err" class="error"></span>
								</div>
								<div>
									<label for="">CVC</label
									><input
										type="number"
										placeholder="123"
										class="book__input"
										id="cvc"
									/>
									<span id="cvc-err" class="error"></span>
								</div>
							</div>
							<div class="pay-btn-container">
								<button class="pay-btn auth-btn" id="payBtn" type="submit">
									Pay now
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="feedback__wrapper">
				<div class="feedback__container">
					<div class="close-feedback-container">
						<!--?xml version="1.0" encoding="utf-8"?-->
			
						<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
						<svg
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g id="Menu / Close_MD">
								<path
									id="Vector"
									d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18"
									stroke="#000000"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</g>
						</svg>
					</div>
					<p>Thank you for your purchase! <br> Have a great day!</p>
				</div>
			</div>
		</div>
		<script src="../scripts/books.js" defer type="text/javascript"></script>
	</body>
</html>
