<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My favorite emoji</title>
    <link rel="stylesheet" href="../styles/index.styles.css" />
    <link rel="stylesheet" href="../styles/emoji.styles.css" />
  </head>

  <body>
    <nav>
			<div class="navbar__wrapper">
				<div class="navbar-container">
					<a href="index.html">Home</a>
					<a href="emoji.html">Emoji</a>
					<a href="gallery.html">Gallery</a>
					<a href="index.html#contact">Contact</a>
					<a href="todo.html">Todo App</a>
					<a href="books.html">Books</a>
				</div>
				<div class="navbar__auth">
					<button><a href="signup.html">Signup</a></button>
					<button><a href="login.html">Login</a></button>
				</div>
			</div>
		</nav>
    <div class="emojis-wrapper">
      <div class="emojis-container">
        <div>
          <h1 class="emojis-title">My favorite emoji</h1>
        </div>
        <div>
          <p class="">
            I don't just <em style = "color: #35df91">like</em> emoji, I <strong style = "color: #35df91">love</strong> emoji!
          </p>
        </div>
      </div>
      <div class="table-container">
        <div>
          <p>Here's a table of my most-used emoji:</p>
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Emoji</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>🐞</td>
                <td>Lady Beetle</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>🐍</td>
                <td>Snake</td>
              </tr>
              <tr>
                <td>3.</td>
                <td>👍</td>
                <td>Thumbs Up Sign</td>
              </tr>
              <tr>
                <td>4.</td>
                <td>🎉</td>
                <td>Party Popper</td>
              </tr>
              <tr>
                <td>5.</td>
                <td>🤩</td>
                <td>Grinning Face With Star Eyes</td>
              </tr>
              <tr>
                <td>6.</td>
                <td>😂</td>
                <td>Face With Tears Of Joy</td>
              </tr>
              <tr>
                <td>7.</td>
                <td>🐶</td>
                <td>Dog Face</td>
              </tr>
              <tr>
                <td>8.</td>
                <td>🍿</td>
                <td>Popcorn</td>
              </tr>
              <tr>
                <td>9.</td>
                <td>😎</td>
                <td>Smiling Face With Sunglasses</td>
              </tr>
              <tr>
                <td>10.</td>
                <td>✨</td>
                <td>Sparkles</td>
              </tr>
              <tr>
                <td>11.</td>
                <td>💬</td>
                <td>Speech Balloon</td>
              </tr>
              <tr>
                <td>12.</td>
                <td>😘</td>
                <td>Face Throwing A Kiss</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
