<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Am I HTML already?</title>
		<link rel="stylesheet" href="../styles/index.styles.css" />
		<link rel="stylesheet" href="../styles/home.styles.css" />
	</head>
	<body>
		<nav>
			<div class="navbar__wrapper">
				<div class="navbar-container">
					<a href="index.html">Home</a>
					<a href="emoji.html">Emoji</a>
					<a href="gallery.html">Gallery</a>
					<a href="index.html#contact">Contact</a>
					<a href="todo.html">Todo App</a>
					<a href="books.html">Books</a>
				</div>
				<div class="navbar__auth">
					<button><a href="signup.html">Signup</a></button>
					<button><a href="login.html">Login</a></button>
				</div>
			</div>
		</nav>
		<div class="home-wrapper">
			<div class="hero-wrapper">
				<div class="right-circle"></div>
				<div class="left-circle"></div>
				<div class="hero-container">
					<h1 class="hero-title home-title">
						Hi, I'm Michael <br />
						<span
							><span style="color: #35df91"> Fullstack Developer </span></span
						>
					</h1>
					<p class="hero-desc">
						Solution-oriented and problem solver, experience building web
						applications using MERN stack technologies. Have done numerous
						projects involving frontend and backend development
					</p>
					<div class="arrow-down-container">
						<a href="#info">
							<?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
							<svg
								fill="#35df91"
								viewBox="0 0 32 32"
								version="1.1"
								facts-container
								rounded
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0.256 8.606c0-0.269 0.106-0.544 0.313-0.75 0.412-0.412 1.087-0.412 1.5 0l14.119 14.119 13.913-13.912c0.413-0.412 1.087-0.412 1.5 0s0.413 1.088 0 1.5l-14.663 14.669c-0.413 0.413-1.088 0.413-1.5 0l-14.869-14.869c-0.213-0.213-0.313-0.481-0.313-0.756z"
								></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div id="info" class="info-container">
				<div>
					<div class="about-container rounded container">
						<div>
							<h2 class="home-subtitle">About me</h2>
							<p>
								I'm a front-end developer who is passionate about using React Js
								to create stunning and useful websites.
							</p>
							<p>
								I'm a backend developer that is passionate about utilizing Node
								js to build useful web applications.
							</p>
						</div>
					</div>
					<div class="facts-container rounded">
						<div>
							<h2 class="home-subtitle">Random facts</h2>
							<p>
								I don't just <em>like</em> emoji,<br />
								I <strong>love</strong> emoji!
							</p>
						</div>
					</div>
					<div class="emoji-container rounded">
						<div>
							<h2 class="home-subtitle">Most Used Emoji</h2>
							<div class="emoji-list-container">
								<ol>
									<li>🐞</li>
									<li>🐍</li>
									<li>👍</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="favorite-container rounded">
						<div>
							<h2 class="home-subtitle">Links</h2>
							<div>
								<p>My favorite websites are:</p>
								<ul class="desc">
									<li>
										<a href="https://dribbble.com">Dribbble</a>
									</li>
									<li><a href="https://react.dev/">React JS</a></li>
									<li><a href="https://www.pypi.org">pypi.org</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-wrapper" id="contact">
				<h1 style="text-align: center; color: #fff">
					Take A Coffee & <span style="color: #35df91">Chat With Me</span>
				</h1>
				<form id="messageForm" class="message-form" action="">
					<div class="input-wrapper">
						<div class="input-container">
							<label for="name">Name</label>
							<input
								name="name"
								id="name"
								type="text"
								placeholder="Michael Padin"
								required
								class="form-input"
							/>
							<span class="name-error error"></span>
						</div>
						<div class="input-container">
							<label for="email">Email</label>
							<input
								class="form-input"
								id="email"
								name="email"
								required
								type="email"
								placeholder="padinmichael@example.com"
							/>
							<span class="email-error error"></span>
						</div>
						<div class="input-container text-area-container">
							<label for="name">Message</label>
							<textarea
								required
								aria-required
								class="form-textarea form-input"
								name="message"
								id="message"
								cols="30"
								rows="10"
								placeholder="Hey Michael!"
							></textarea>
						</div>
						<div class="submit-btn-container">
							<button id="submitMessage" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../scripts/jquery-3.6.4.min.js"></script>
		<script src="../scripts/script.js"></script>
	</body>
</html>
